*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

:root{
    --light-primary-color: #104D8D; /*  */
    --light-background-color: #F2F2F2;  /* for backgrounds and sections */
    --light-secondary-color: #E6E6E6; /* for sections and cards */
    --light-accent-color: #FF6F61; /* for buttons and highlights */
    --light-neutral-color: #333333; /*  for text and icons*/
    --light-highlight-color: #FFD700; /* for notifications and alerts */
    --dark-primary-color: #104D8D; /*  */
    --dark-background-color: #1E1E1E; /* the main background */
    --dark-secondary-color: #2D2D2D; /* for sections and cards */
    --dark-accent-color: #FF6F61; /* for buttons and highlights */
    --dark-text-color: #E0E0E0; /* for general text */
    --dark-highlight-color: #FFD700; /* for notifications and alert */
}