@import url("/SK Website Admin/assets/css/components/tabs.css");
@import url("/SK Website Admin/assets/css/components/editor-button.css");
@import url("/SK Website Admin/assets/css/components/tab-header.css");

.content{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.banner-preview{
    height: 10rem;
    width: 25rem;
    border: 1px dashed var(--light-accent-color);
}


