*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

:root{
    --light-primary-color: #104D8D; /*  */
    --light-background-color: #F2F2F2;  /* for backgrounds and sections */
    --light-secondary-color: #E6E6E6; /* for sections and cards */
    --light-accent-color: #FF6F61; /* for buttons and highlights */
    --light-neutral-color: #333333; /*  for text and icons*/
    --light-highlight-color: #FFD700; /* for notifications and alerts */
    --light-hovered-color: #0B3D71; 
    --dark-primary-color: #104D8D; /*  */
    --dark-background-color: #1E1E1E; /* the main background */
    --dark-secondary-color: #2D2D2D; /* for sections and cards */
    --dark-accent-color: #FF6F61; /* for buttons and highlights */
    --dark-text-color: #E0E0E0; /* for general text */
    --dark-highlight-color: #FFD700; /* for notifications and alert */
}

li ul, li{
    list-style-type: none;
}

.topnav-bar{
    display: flex;
    justify-content: space-between;
    background-color: var(--light-primary-color);
    padding: 20px;
    color: var(--light-secondary-color);
}

.title-bar{
  display: flex;
}

.title{
  margin: auto 0;
}

.menu li{
    margin: 5px 10px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--light-primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  color: var(--light-secondary-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sublinks{
  display: none;
}

.sidenav li.head-sublinks:hover .sublinks {
  display: block; 
  padding-left: 20px;
  background-color: var(--primary-color-light);
  }

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 16px;
  margin-left: 50px;
  color: var(--light-secondary-color);
}

.topbar-left{
  display: flex;
  gap: 20px;
}

.topbar-left li{
  padding: 5px 10px;
}

.topbar-left li:hover{
  background-color: var(--light-hovered-color);
  border-radius: 20px;
}

.admin-dropdown .dropdown-menu li{
  display: none;
  position: absolute;
  top: 69px;
  padding: 20px;
  background-color: var(--light-primary-color);
  color: var(--dark-text-color);
  width: 100%;
}


.admin-dropdown:hover .dropdown-menu li{
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}